version: "3"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: clinica
      POSTGRES_DB: clinica_db
    ports:
      - "5437:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data